html {
    font-family: Arial, sans-serif;
}
header {
    background-color: rgb(15, 179, 15);
}
footer {
    padding: 20px;
    background-color: rgb(15, 179, 15); 
    color: rgb(188, 241, 199);
}
h3 {
    color: rgb(188, 241, 199);
}
td {
    vertical-align: top;
    text-align: center;
}
ul {
    text-align: left;
}
h2 {
   color: rgb(15, 179, 15); 
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}
img {
    border: 5px solid  rgb(15, 179, 15);
    vertical-align: middle;
}
